<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <a routerLink="/">Home</a>
        <a [routerLink]="['task', 1]">Task 1</a>
        <a [routerLink]="['task', 2]">Task 2</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  